In [1]:
import pandas as pd

In [4]:
pd.read_csv('../data/tabel_1.csv')

     ['col_1'  'col_2'  'col_3'   'color']  Unnamed: 4
0        ['1'   '3456'   '2134'     'red']         NaN
1      ['123'      '0'      '0'   'green']         NaN
2   ['349587'     '-1'     '14'     'red']         NaN