# Data Types

In [2]:
x = 3

In [3]:
print(type(x))

<class 'int'>

In [4]:
y = 3.3

In [5]:
print(type(y))

<class 'float'>

In [6]:
b = True

In [7]:
print(type(b))

<class 'bool'>

In [8]:
x * y

9.899999999999999

In [9]:
x ** 2

9

In [10]:
x / 2

1.5

In [11]:
x // 2

1

In [12]:
True and True

True

In [13]:
True or False

True

# Data Structures

## Liste

In [14]:
l = [10, 11, 12, 13, 14, 15, 16]

In [15]:
l[0]

10

In [16]:
l[-1]

16

In [17]:
l[-2]

15

In [18]:
l[1:4]

[11, 12, 13]

In [19]:
l

[10, 11, 12, 13, 14, 15, 16]

In [20]:
l[-5:]

[12, 13, 14, 15, 16]

In [21]:
l[1:6:2]

[11, 13, 15]

In [22]:
l[::-1]

[16, 15, 14, 13, 12, 11, 10]

#### Inserare

In [23]:
l = [10, 11, 12, 13]

In [24]:
l.append(100)

In [25]:
l

[10, 11, 12, 13, 100]

In [26]:
l.insert(2, 200)

In [27]:
l

[10, 11, 200, 12, 13, 100]

#### Modificare

In [28]:
l[0] = 111

In [29]:
l

[111, 11, 200, 12, 13, 100]

In [30]:
l = [1, 2, 3]

In [31]:
l

[1, 2, 3]

In [32]:
l2 = l

In [33]:
l2[0]

1

In [34]:
l2[0] = 100

In [35]:
l2

[100, 2, 3]

In [36]:
l

[100, 2, 3]

#### Eliminare

In [37]:
l = [1, 2, 3]

In [38]:
l.pop()

3

In [39]:
l

[1, 2]

In [40]:
l = [1, 2, 3]

In [41]:
l.pop(1)

2

In [42]:
l

[1, 3]

In [43]:
l = [1, 2, 3, 3.3, True]

In [44]:
l

[1, 2, 3, 3.3, True]

## Dictionare

In [45]:
d = {
    'user1': 10,
    'user2': 20,
    'user3': 30
}

In [46]:
d['user1']

10

In [47]:
'user4' in d

False

#### Inserare

In [48]:
d['user4'] = 40

In [49]:
d

{'user1': 10, 'user2': 20, 'user3': 30, 'user4': 40}

#### Modificare

In [50]:
d

{'user1': 10, 'user2': 20, 'user3': 30, 'user4': 40}

In [51]:
d['user1'] = 100

In [52]:
d

{'user1': 100, 'user2': 20, 'user3': 30, 'user4': 40}

#### Eliminare

In [53]:
d.pop('user1')

100

In [54]:
d

{'user2': 20, 'user3': 30, 'user4': 40}

In [55]:
d.pop('user10')

KeyError: 'user10'

In [ ]:
d.pop('user5', False)

False

# Functii

In [ ]:
def compute(x, y):
    result = (x ** 2 + y ** 2) ** 0.5
    
    return result

In [ ]:
compute(2, 3)

3.605551275463989

In [ ]:
def hello():
    print("hello")

In [ ]:
hello()

hello

In [ ]:
rezultat = hello()

hello

In [ ]:
type(rezultat)

NoneType

In [ ]:
b = None

In [56]:
def hello(loud = False):
    if loud:
        print("HELLO")
    else:
        print("hello")

In [57]:
hello(True)

HELLO

In [58]:
a = 5

if a < 3:
    print('S')
elif a < 7:
    print('M')
else:
    print('L')

M

In [59]:
for i in range(5):
    print(i)

0
1
2
3
4

In [60]:
for i in range(2, 6):
    print(i)

2
3
4
5

In [61]:
for i in range(10, 100, 20):
    print(i)

10
30
50
70
90

# Siruri de Caractere

In [63]:
s1 = 'Hello'
s2 = "World"

In [64]:
s1 + " " + s2

'Hello World'

In [65]:
s1 * 3

'HelloHelloHello'

In [66]:
s1.lower()

'hello'

In [67]:
s1.upper()

'HELLO'

In [68]:
s1.rjust(20)

'               Hello'

In [69]:
s1.ljust(20)

'Hello               '

In [70]:
sent = "ana are mere"

In [71]:
sent.split()

['ana', 'are', 'mere']

In [72]:
s = "a,b,c,d"
s.split(',')

['a', 'b', 'c', 'd']

In [73]:
l = ['a', 'b', 'c', 'd']

In [74]:
'-'.join(l)

'a-b-c-d'